<p id="notice"><%= notice %></p>

<p>
  <b>first:</b>
  <%= foundgroup[0] %>
</p>

<p>
  <b>second:</b>
  <%= foundgroup[1] %>
</p>


<p>
  <b>third:</b>
  <%= foundgroup[2] %>
</p>



