<%= form_for(current_user.freefors.build(event_id: event.id),
             remote: true) do |f| %>
  <div><%= f.hidden_field :event_id %></div>
  <%= f.submit "JOIN", :class => "btn btn-large btn-primary" %>
<% end %>
